@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Home Page";
}
<h1>Агенция за недвижими имоти "DakovEstate"</h1>
<p>
    DakovEstate е професионална агенция за недвижими имоти, която предлага експертни услуги за купуване, продажба и наемане на имоти. Като доверено име в индустрията, DakovEstate се утвърждава като лидер на пазара, известен с висококачественото си обслужване и персонализиран подход.
</p>

<p>В DakovEstate разбираме, че купуването или продаването на имот може да бъде сложен и труден процес. Затова работим тясно с нашите клиенти, за да гарантираме, че получават необходимата подкрепа и насоки, за да могат да вземат информирани решения. Нашите лицензирани и опитни агенти за недвижими имоти са посветени на предоставянето на безпроблемен и без стрес опит, от първата консултация до крайния сделки..</p>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<p>Специализираме се в широк спектър от имоти, включително луксозни къщи, апартаменти, търговски имоти и земя. Нашите обширни познания на пазара и ангажиментът ни да бъдем в крак с най-новите тенденции и регулации в индустрията, ни позволяват да предоставяме на нашите клиенти най-добрите възможни съвети и насоки.</p>

<p>Ако търсите доверена и надеждна агенция за недвижими имоти, която слага нуждите ви на първо място, няма нужда да търсите повече от DakovEstate. Свържете се с нас днес, за да научите повече за това как можем да ви помогнем да постигнете вашите цели в областта на недвжимите имоти. Нашата цел е да направим процеса на купуване, продажба или наемане на недвижим имот максимално лесен и безпроблемен за нашите клиенти. Въз основа на вашите нужди и изисквания, ще ви предложим най-добрите възможни решения, които да са в съответствие с бюджета и преференциите ви.</p>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Email
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in UserManager.Users.ToList())
            {
                <tr>
                    <td>
                        @item.Id

                    </td>
                    <td>
                        @item.Email

                    </td>

                </tr>
            }
        </tbody>
    </table>

</div>
<h1>
    Локацията
</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d197293.81412611346!2d-0.5263255989320382!3d39.40793427478384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604f4cf0efb06f%3A0xb4a351011f7f1d39!2sValencia%2C%20Spain!5e0!3m2!1sen!2sbg!4v1682407668493!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
